.ui-virtualscroller	//Container element
{
  background-color: red !important;
}
.ui-virtualscroller-content	//Content section.
{
  background-color: yellow !important;
}
.ui-virtualscroller-list //List element.
{
  background-color: green !important;
}
