<mat-toolbar>
    <h1>
      <!-- TODO: center & mobile-justified -->
      ngLoadOnScroll
    </h1>
</mat-toolbar>

<!-- navi: version 1 -->
<!-- mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    DrawerContent
  </mat-drawer>
</mat-drawer-container -->

<!-- navi: version 2 -->
<mat-sidenav-container class="conti" *ngIf="true" (backdropClick)="closeSideNav()" >
  <!-- TODO: make resizable -->
  <mat-sidenav opened mode="side" [class.is-mobile]="mobileQuery.matches" #sidenav (keydown.escape)="closeSideNav()" disableClose>
    <br>
    <button mat-raised-button (click)="closeSideNav()">&lt;&lt;</button>
    <br><br>
    <button mat-button (click)="sidenav.open()" *ngIf="!sidenav.opened">&gt;&gt;</button>

    <button mat-button class="navibtn" routerLinkActive="activeroute" [routerLink]="['/ngxVirtScroll']" [queryParams]="{ngxVirtScroll: true}">
      ngxVirtScroll
    </button><br>
    <button mat-button class="navibtn" routerLinkActive="activeroute" [routerLink]="['/ngxInfiniteScroll']" [queryParams]="{ngxInfiniteScroll: true}">
      ngxInfiniteScroll
    </button><br>
    <button mat-button class="navibtn" routerLinkActive="activeroute" [routerLink]="['/ngVForScroll']" [queryParams]="{ngVForScroll: true}">
      ngVForScroll
    </button>

  </mat-sidenav>

  <!-- right sidenav -->
  <!-- mat-sidenav opened mode="side" position="end">End content</mat-sidenav -->

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.open()" *ngIf="!sidenav.opened">&gt;&gt;</button>
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
