virtual-scroller {
  min-width: 350px;
  min-height: 200px;

  position: relative;
  display: block;
  overflow: auto;
  height: 96%;
}
.loader {
  text-align: center;
  background-color: #f0b81f;
  height: 99px;
  vertical-align: middle;
  padding: 11px;
  margin: 11px;
}
